.comment-content {
  text-align: center;
  margin-block: 2.5rem;
  position: relative;
}

.comment-content::before{
 display: none;
}

.comment-content p {
  margin: 0;
}

.comment-content p:first-child {
  font-size: 1.5rem;
  line-height: 2.4375rem;
  margin-block-end: 1.5rem;
}
.comment-content p:nth-of-type(2) {
  font: var(--headline5);
  margin-block-end: 1.5rem;
}

.comment-content a {
  text-decoration: none;
  color: var(--black);
  font-size: 5rem;
}

@media screen and (min-width: 768px) {

    .comment-content {
        
        margin-block: 12.5rem;
      }

  .comment-content p {
    max-inline-size: 56.25rem;
    margin: auto;
  }

  .comment-content p:first-child {
    font-size: 2.125rem;
    line-height: 3.4375rem;
    margin-block-end: 1.5rem;
    font-weight: 300;
  }

  
.comment-content::before{
  display: block;
  content: '';
  position: absolute;
  top: -80%;
  left: 30%;
  inline-size: 400px;
  block-size: 400px;
  background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
}
}
