.hero-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin-block-start: 1rem;
    position: relative;
}

.hero-content::before{
   display: none;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    max-inline-size: 100%;
    block-size: auto;
    vertical-align: middle;
}


.hero-description h1 {
    display: flex;
    flex-direction: column;
    font: var(--headline3);
    margin: 0;
}

.hero-description p {
    font: var(--body1);
    margin-block-end: 1rem;
}


@media screen and (min-width: 768px) {
    .hero-content{
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        margin-block-start: 4.375rem;
    }

    .hero-image {
        order: 2;
        max-inline-size: 500px;
       
    }

    .hero-description{
        max-inline-size: 28.125rem;
    }


    .hero-content::before{
        display: block;
        content: '';
        position: absolute;
        top: -30%;
        left: -27%;
        inline-size: 400px;
        block-size: 400px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(191, 53, 142, 0.5) 0%, rgba(191, 53, 142, 0) 100%);
    }
}