

/* ------------------- */
.project-image {
    margin-block-end: 2.5rem;
}

.project-image img {
    inline-size: 100%;
    vertical-align: middle;
}

/* ------------------- */

.project-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-description .title{
    display: inline-block;
    text-decoration: none;
    font: var(--headline5);
    background-color: var(--black);
    color: var(--primary);
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    align-self: flex-start;
    box-shadow: -4px 4px 0 white;
    text-transform: uppercase;
}

/* ------------------- */

.project-description p {
    /* font: var(--body1); */
    margin-block: 1rem;
}

.project-description .buttons {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.project-description .buttons button {
    order: 2;
}


@media screen and (min-width: 768px) {
    .project-content{
     display: flex;
     padding-block: 5rem;
     gap: 1.5rem;
     position: relative;
    }


   /*  .project:nth-child(odd) .project-image {
        margin: auto;
        order: 2;

    } */

    .project:nth-of-type(3) .project-image, .project:nth-of-type(7) .project-image{
        margin: auto;
        order: 2;
    }


    .project-description {
        max-inline-size: 28.0625rem;
        justify-content: center;
    }

    .project-description .buttons {
        
        flex-direction: row;
        gap: 1rem;
    }

    .project-description .buttons button {
        order: 0;
    }

    .project:nth-of-type(3)  .project-content::before{
        display: block;
        content: '';
        position: absolute;
        top: 30%;
        left: -10%;
        inline-size: 400px;
        block-size: 400px;
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
      }

    .project:nth-of-type(5)  .project-content::before{
        display: block;
        content: '';
        position: absolute;
        top: -10%;
        right: -15%;
        inline-size: 400px;
        block-size: 400px;
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
      }

}